/* Barre de promotion */
.promo-bar {
  background-color: var(--promo-bg-color); /* Utilisation de la variable pour le fond */
  color: var(--promo-text-color); /* Utilisation de la variable pour le texte */
  text-align: center;
  padding: 1px;
  font-size: 15px;
  font-weight: bold;
}

/* Général */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  background: #09759A;
  color: #ffffffff;
}

header .logo img {
  height: 55px;
}

header .cart a {
  color: #000000;
  text-decoration: none;
}

/* Menu déroulant */
.menu {
    position: relative;
    display: inline-block;
}

.menu-button {
    background-color: #09759A;
    color: #ffffff;
    padding: 5px 5px; /* Taille de bouton réduite pour mobile */
    font-size: 18px; /* Taille de police réduite pour mobile */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.menu-button:hover {
    background-color: #01728A;
    font-size: 18px; /* Taille de police réduite pour mobile */
}

.menu-content {
    display: none;
    position: absolute;
    right: 15;
    background-color: #fff;
    min-width: 120px; /* Largeur réduite pour mobile */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 100;
}

.menu-content a {
    color: #09759A;
    padding: 10px 20px; /* Espacement réduit pour mobile */
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    font-size: 16px; /* Taille de police réduite pour mobile */
    font-weight: bold;
}

.menu-content a:hover {
    background-color: #f1f1f1;
}

/* Afficher le menu déroulant */
.menu.active .menu-content {
    display: block;
}


.section  {
  color: #111111;
  background-color: #2001;
  border: 1px solid #0975;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18977);
    width: 90%; /* Largeur relative pour mobile */
    margin: 20px auto;
 font-size: 16px; /* Taille de police réduite pour mobile */
    margin-bottom: 15px; 
}

 .liste-centree {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            margin-top: -30px;
        }

        .element-liste {
            width: 100%;
            font-weight: bold;
            display: flex;
            margin-bottom: 10px;
        }

        .coche {
            color: #10a37f;
            margin-right: 10px;
            flex-shrink: 0;
        }

        .texte {
            flex-grow: 1;
            text-align: left;
        }
 .liste-centree1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            margin-top: 30px;
        }

        .element-liste1 {
            width: 100%;
            font-weight: bold;
            display: flex;
            margin-bottom: 10px;
        }

        .coche {
            color: #10a37f;
            margin-right: 10px;
            flex-shrink: 0;
        }

        .texte1 {
            flex-grow: 1;
            text-align: left;
        }

/* Style du texte descriptif */
        .description1 {
            font-size: 16px;
            color: #666;
            margin-bottom: 7px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
            font-weight: bold;
        }

.crossmark {
  color: #ff4d4f; /* Rouge */
  font-weight: bold;
  margin-right: 5px;
}

.image-text, .text-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-bottom: 12px;
}

.image-text img, .text-image img {
  max-width: 100%;
  height: auto;
}

.plans {
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plan {
  border: 1px solid #2003;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.plans1 {
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.plan1 {
  border: 1.3px solid #097;
  background: #E5EAE8;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}
.plan10 {
  margin-right: 180px;
  margin-top: 0px;
  font-size: 1.1rem;
}
.plan15 {
  margin-right: 160px;
  margin-top: 20px;
  font-size: 1.1rem;
}

    .price-display {
        display: inline-block;
        position: relative;
        margin-bottom: 8px;
    }

    .current-price {
        font-size: 6rem;
        color: #1d3597;
        font-weight: 900;
        margin-right: 10px;
        position: relative;
        display: inline-flex;
        align-items: flex-start;
        line-height: 1;
    }

    .currency-symbol {
        font-size: 2rem; /* Taille réduite */
        align-self: flex-start; /* Alignement en haut */
        margin-left: 2px; /* Espacement du prix */
        transform: translateY(-0.01em); /* Décalage vers le haut */
    }

    .original-price {
        font-size: 1.8rem;
        color: #666;
        font-weight: 500;
        text-decoration: line-through;
        top: -8px;
        margin-right: 40px;
        display: inline-block;
    }

    .discount-badge {
        position: absolute;
        top: -62px;
        right: -59px;
        background: #e63946;
        color: white;
        padding: 1px 8px;
        border-radius: 15px;
        font-size: 0.9rem;
        font-weight: bold;
    }

.discount-badge1 {
    position: absolute;
    top: -126px;
    right: 40px;
    color: #fff;
    background: #097;
    padding: 2px 8px;
    border-radius: 80px;
    font-size: 0.9rem;
    font-weight: bold;
    border: 0px solid #09759A;
}


    @media (max-width: 600px) {
        .current-price {
            font-size: 1.4rem; /* Ajusté pour mobile */
        }
        
        .currency-symbol {
            font-size: 1rem; /* Taille réduite sur mobile */
        }
        
        .original-price {
            font-size: 1rem;
        }
    }

.buy-button {
  background: #111111;
  color: #fff;
  padding: 10px 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 50px;
}
.buy-button1 {
  background: #097;
  color: #fff;
  padding: 10px 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: none;
}

.slide.active {
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #45d22b;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.prev {
  left: 15px;
}

.next {
  right: 15px;
}



footer .trust-banner img {
  max-width: 100%;
  text-align: left;
  height: auto;
}

/* Pied de page */
footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: left;
    margin-top: 40px;
}

/* Bannière de confiance */
.trust-banner {
    background-color: #;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.trust-banner p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

/* Liens utiles */
.footer-links {
    display: flex;
    flex-wrap: wrap;
    font-size: 1px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}



/* Copyright */
.copyright {
    border-top: 1px solid #34495e;
    padding-top: 10px;
    margin-top: 20px;
}

.copyright p {
    margin: 0;
    font-size: 12px;
    color: #bdc3c7;
}

/* Responsive design pour les petits écrans */
@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }

    .trust-banner p {
        font-size: 12px;
    }

    .footer-section h3 {
        font-size: 16px;
    }

    
    .copyright p {
        font-size: 12px;
    }
}

/* Style pour le conteneur de la pub */
#pub-container {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-family: Arial, sans-serif;
}

/* Style pour le texte de la pub */
.pub-text {
  color: #4e39f4;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  font-weight: bold; /* Texte en gras */
}

/* Classe pour afficher le texte */
.show {
  opacity: 1;
}

/* Style du logo dans la page */
.site-logogoogle {
  width: 120px;
  height: auto;
  display: block;
  margin: 20px auto;
}

/* Style pour mobile */
@media (max-width: 600px) {
  .site-logogoogle {
    width: 80px;
  }
}